@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Italianno|La+Belle+Aurore|League+Script|Meddon|Norican&display=swap');
/* font-family: 'Italianno', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Norican', cursive;
font-family: 'La Belle Aurore', cursive;
font-family: 'Meddon', cursive;
font-family: 'League Script', cursive; */

@import url('https://fonts.googleapis.com/css?family=Bad+Script|Pacifico|Playfair+Display|Poiret+One&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Pacifico', cursive;
font-family: 'Poiret One', cursive; */

.App-header {
  display: inline;
  position: relative;
}
#craftboard {
  /* background-color: #D4AF37; */
  display: flex;
  min-height: 100vh;
  min-width: 100vw;

  font-size: calc(20px + 1vmin);
  color: darkgray;
  text-shadow: 2px 2px silver;
  /* font-family: 'Bad Script', cursive; */
  font-family: 'Homemade Apple', cursive;
/* font-family: 'League Script', cursive;  */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Pacifico', cursive; */
/* font-family: 'Poiret One', cursive; */

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shuffle {
  transition:  3s;
  /* position: absolute; */
  left: random(500);
  top: random(500);
}

#rsvp {
  /* display: inline; */
  position: absolute;
  /* top: 40;
  left: 20; */
  border: 1px solid yellow;
  width: 100vw;
  height: 100vh;
}

#rsvp-form {
  position: absolute;
  top: 40;
  left: 20;
  z-index: 100;
  
  border: 1px solid palevioletred;
  
  /* height: 30vh; */
  width: 20vw;
  color: darkgray;
  text-align: right;
}
