/* @import '~pretty-checkbox/src/pretty-checkbox.scss'; */

@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Italianno|La+Belle+Aurore|League+Script|Meddon|Norican&display=swap');
/* font-family: 'Italianno', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Norican', cursive;
font-family: 'La Belle Aurore', cursive;
font-family: 'Meddon', cursive;
font-family: 'League Script', cursive; */

@import url('https://fonts.googleapis.com/css?family=Bad+Script|Pacifico|Playfair+Display|Poiret+One&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Pacifico', cursive;
font-family: 'Poiret One', cursive; */

/* .App {
  text-align: center;
} */

.App-logo {
  /* animation: App-logo-spin infinite 100s linear; */
  height: 40vmin;
  pointer-events: none;
}

.App-logo-rev {
  /* animation: App-logo-spin infinite 100s linear reverse; */
  height: 40vmin;
  pointer-events: none;
}

/* .App-header  */
#craftboard {
  /* background-color: #D4AF37; */
  display: flex;
  min-height: 100vh;
  min-width: 100vw;

  font-size: calc(20px + 1vmin);
  color: rgb(19, 36, 19);
  /* text-shadow: 2px 2px silver; */
  /* font-family: 'Bad Script', cursive; */
  /* font-family: 'Homemade Apple', cursive; */
font-family: 'League Script', cursive; 
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Pacifico', cursive; */
/* font-family: 'Poiret One', cursive; */

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .dz{
  border: 2px solid blue;
  height: 100px;
  width: 100px;
} */

/* #craftboard {
  height: 100vh;
  width: 100vw;
  border: 1px solid green;
} */

#rsvp {
  font-size: 3vh;
  z-index: 0;
  /* margin-bottom: 20vh;
  margin-right: 30vh; */
  bottom: 0;
  right: 0;
  /* border: 1px solid palevioletred; */
  position: absolute;
  /* height: 30vh; */
  width: 63vw;
  height: 60vh;
  color: rgb(19, 36, 19);
  font-weight: bold;
  text-align: center;
  /* font-family: 'Pacifico', cursive; */
}

.saveTheDate {
  height: 10vh;
  background-color: rgba(0,0,0,0);
  transform: rotate(-7deg);
  border: none;
}

.saveTheDateClicked {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.7;
  height: 10vh;
  background-color: rgba(0,0,0,0);
  transform: rotate(-7deg);
  border: none;
}

#name-input {
  /* background-color: rgba(0,255,0,0.3); */
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: #61dafb 1px dashed;
  font-family: 'League Script', cursive;
  font-size: 1em;
  text-align: right;
  font-weight: bold;
}

::placeholder { /* Firefox, Chrome, Opera */ 
    color: rgba(27, 24, 24, 0.4);
    font-weight: bold;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: rgba(27, 24, 24, 0.4);
    font-weight: bold;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: rgba(27, 24, 24, 0.4); 
    font-weight: bold;
} 

input:focus { 
  outline: none;
}

/* input[type=checkbox] {
  transform: scale(1.5);
} */

input[type=checkbox] {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 17px;
  visibility: hidden;
}

input[type=checkbox]:after {
  content: " ";
  background-color: rgba(10,250,10,0.3);
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 5px;
  color: rgba(27, 24, 24, 0.8);
  width: 1vw;
  height: 1vw;
  visibility: visible;
  /* border: 1px solid #; */
  padding-left: 3px;
  border-radius: 5px;
}

input[type=checkbox]:checked:after {
  content: "\2714";
  padding: -5px;
  font-weight: bold;
}

.interaction {
  z-index: 5;
}