@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif;
font-family: 'Pacifico', cursive;
font-family: 'Poiret One', cursive; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-image: url("https://image.freepik.com/free-photo/old-book-open-dark-wood-background_1373-581.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'League Script', cursive; 
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#ori-warning {
  display: flex;
}

.orientation {
  font-family: 'Playfair Display', serif;
  width: 25vw;
  color: rgba(4,20,3,0.7);
  font-weight: bold;
  margin-top: 45vh;
  font-size: 5vw;
  z-index: 500;
  text-align: center;
}

#orientation-left {
  margin-left: 20vw
}

#spacer {
  width: 10vw;
}

@media (orientation: portrait) {
  .orientation { display: block; }
  .interaction  { display: none; }
  }

@media (orientation: landscape) {
  .orientation  { display: none; }
  .interaction { display: block; }
}

#modal {
  display: flex;
  align-content: center;
}